.crudContent h1 {
  color: var(--dark);
  opacity: .9;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  font-weight: 500;
}

form {
  display: flex;
  flex-direction: column;
  width: min(700px, 100%);
}

form label {
  color: var(--dark-secondary);
  opacity: .9;
  line-height: 1.8;  
}

form input {
  padding: .6rem;
  font-size: 1rem;
  border: 1px solid rgba(0,0,0,0.2);
  color: var(--dark-secondary);
  border-radius: .3rem;
  outline: none;
  transition: outline 0.1s;
}

form input:focus, 
form input:hover {
  outline: auto var(--primary);
}

form button {
  padding: .6rem 2rem;
  margin-top: 1rem;
  margin-right: 1rem;
  font-size: 1rem;
  color: var(--light);
  outline: none;
  cursor: pointer;
  border: none;
  box-shadow: 0 0 4px rgba(0,0,0,0.3);
  border-radius:.3rem;
  font-weight: 500;
}

form button:focus, 
form button:hover {
  opacity: .8;
}

form button:first-child {
  background: var(--primary);
}
form button:last-child {
  background: var(--dark-secondary);
}

table {
  margin-top: 1rem;
  width: min(700px, 100%);
  border-radius: .3rem;
  text-align: left;
  box-shadow: 0 0 8px rgba(0,0,0,.2);
  padding: .2rem 1rem;
}

table thead th {
  color: var(--dark-secondary);
  border-bottom: 1px solid var(--gray);
  padding: 1rem 0;
}

table tbody td {
  border-bottom: 1px solid var(--gray);
  padding: .5rem 0;
}

table tbody .actions button {
  padding: .3rem;
  margin-right: .5rem;
  color: var(--light);
  outline: none;
  cursor: pointer;
  border: none;
  box-shadow: 0 0 4px rgba(0,0,0,0.3);
  border-radius:.3rem;
  font-weight: 500;
}

table tbody .actions button:first-child {
  background: var(--warning);
}
table tbody .actions button:last-child {
  background: var(--danger);
}
