header {
  grid-area: header;
  padding: 1rem;
  background: var(--light);
}
header > div {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  display: flex;
  align-items: center;
  gap: .4rem;
  color: var(--dark-secondary);
  font-size: 1.2rem;
  font-weight: 400;
}

#bar {
  display: none;
  padding: .3rem;
  background: transparent;
  border: 1px solid var(--gray);
  outline: none;
  font-size: 1rem;
  border-radius:.3rem;
  cursor: pointer;
}